.fighter-preview___root {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  height: 350px;
}

.fighter-preview___right {
  align-items: center;
}

.fighter-preview___left {
  align-items: center;
}

.fighter-preview___props-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: aliceblue;
  text-align: left;
  font-size: 22px;
}

.fighter-preview___img {
  max-height: 350px;
}